html,
* {
    margin: 0;
    padding: 0;
}

header {
    background: #1596ff;
    padding: 0;
    margin: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
    text-transform: uppercase;
    user-select: none;
}

.imagenesGatos {
    height: 70vh;
    display: flex;
    justify-content: center;
    padding-top: 5em;
}

.imagenesGatos img {
    width: 30em;
    height: 30em;
}

.cambiarGato {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.cambiarGato input {
    height: 3em;
    width: 10em;
    text-transform: uppercase;
    font-weight: bolder;
    background: #1596ff;
    border: 0;
    border-radius: 0.5em;
    cursor: pointer;
    margin-left: 1em;
}

/* Spinner  */
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2s infinite linear;
    animation: sk-rotate 2s infinite linear;
}

.dot1,
.dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;

    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
